.about {
  background: #e4e1da;
  padding: 20vh 20px;
}

.hero-heading {
  color: white;
  font-size: 7rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  width: 10ch;
}

.hero-title {
  color: #de441e;
}

.hero-p {
  margin: 2rem 0.5rem;
}

.hero-a {
  color: black;
}

.blocker {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
